{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container-fluid" id="about">

    <div style="text-align:right;">
        <h4>
            “Be the change that you wish to see in the world.”
            ― Mahatma Gandhi</h4>
    </div>
    <h4>Who We Are</h4>

    <p>The Jewel Shop is more than just a shop. We are a gateway to empowerment. We believe that charitable
        efforts, while noble, do not provide a long-term solution to poverty. Instead, economic development
        and
        job growth are the key to eliminating poverty for good. Our mission is to create steady, fair-waged
        jobs
        for our partner artisans in Kenya. Every product directly impacts the community and family of the
        artisans who made
        it.</p>
</div>
{% endblock %}