{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container-fluid" id="about" style="padding-top:20px;">

    <p style="font-size:12px;">
        “Be the change that you wish to see in the world.”
        ― Mahatma Gandhi
    </p><br>


    <h4 style="font-size:20px;">CHANGE STARTS WITH EMPOWERMENT</h4>
    <p style="font-size:18px;">
        We want to end poverty. But we believe the people best equipped to help communities are those
        who are a
        part of
        them. Rather than enacting temporary relief measures or spending money on short-term aid, we
        want to
        invest in
        communities so that they are empowered to create change for themselves.

        Our mission is to empower resourceful, hard-working people in Kenya to earn long-term,
        sustainable
        incomes
        and, in doing so, fight poverty.

        Our model: We use the fashion industry to bring a large market to artisans in Kenya who would
        otherwise
        have
        little access to buyers. We work with our partners in Kibera, Nairobi to create designs
        relevant to
        today's
        fashion
        market.
    </p><br>

    <div class="row">
        <div class="col-md-4">
            <h4 style="font-size:">A New Opportunity</h4>
            <img src="../static/images/pd.jpeg" style="border: 5px solid floralwhite; border-radius: 4px; padding: 5px; height:300px; width:300px;">
            <p>We create jobs by bringing our partner artisans' craft of paper beaded jewelry to a global market.</p>
        </div>

        <div class="col-md-4">
            <h4>A Steady Income</h4>
            <img src="../static/images/blog2.jpg" style="border: 5px solid floralwhite; border-radius: 4px; padding: 5px;height:300px; width:300px;">

            <p>Having a consistent source of income changes everything. Our partners in Uganda are able to meet their
                immediate needs.</p>
        </div>

        <div class="col-md-4">
            <h4>A Bright Future</h4>
            <img src="../static/images/future.jpeg" style="border: 5px solid floralwhite; border-radius: 4px; padding: 5px; height:300px; width:300px;">
            <p>As they continue to work with Tuli, our partners are able to put aside long-term savings and build a
                better future for themselves.</p>
        </div>
    </div>

    <p>
        The Jewel Store is all about long-term solutions. Rather than enacting temporary relief efforts, your purchase creates
        long-term jobs and steady incomes to break the cycle of poverty. Our artisans in Kenya are empowered to create
        their own futures.
    </p>
    <p>    
        We believe in unity among people and collaborative solutions. When you wear a
        our product, you are joining this community. You are an agent for change.</p>
    </p>    

</div>
{% endblock %}