{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <div style="color:floralwhite; text-align:right; font-size:18px; padding:20px;">
                <p>The Jewel Shop is more than just a shop. We are a gateway to empowerment. We believe that charitable
                    efforts, while noble, do not provide a long-term solution to poverty. Instead, economic development
                    and
                    job growth are the key to eliminating poverty for good. Our mission is to create steady, fair-waged
                    jobs
                    for our partner artisans in Kenya. Every product directly impacts the community and family of the
                    artisans who made
                    it.</p>
                <button type="button" class="btn btn-secondary btn-lg" action="{% url 'shop' %}" style="color:darkgrey; border-radius:10em;">Welcome</button>

            </div>
        </div>
    </div>

    <div class="footer">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>

    </div>
</div>
{% endblock %}